@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body {
    background: hsl(210, 20%, 10%); /* Dark background color */
    font-family: 'Courier Prime', monospace;
    color: #fff; /* Text color */
}

.stopwatch {
    width: 95%;
    max-width: 700px;
    background-image: linear-gradient(rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)), url(images/background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
    filter: brightness(0.9);
}

.buttons img:nth-child(2) {
    width: 80px;
}
